<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QuizUp</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>

<body>
  <h1>Home</h1>
  <a href="/createQuiz"><button type="button" class="btn btn-primary">Create Quiz</button></a>
  <a href="/createQuiz"><button type="button" class="btn btn-primary">Add question</button></a>
  <a href="/showQuiz"><button type="button" class="btn btn-primary">Show Quiz</button></a>
</body>

</html>