.correct {
  background-color: #28a745;
  color: white;
}

.incorrect {
  background-color: #dc3545;
  color: white;
}

.neutral{
  background-color: white;
  color: black;
}

.row.align-items-center {
  display: flex;
  align-items: center;
}

.col-md-6.mb-3.d-flex.align-items-center {
  display: flex;
  align-items: center;
}

.form-label.me-2 {
  margin-right: 0.5rem;
}

.inputsm {
  flex-grow: 1;
}

.marks {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.marks-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }

  .marks-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 3px solid #007bff;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .marks-circle p {
    margin: 0;
    font-size: 18px;
    text-align: center;
  }
